Language: Cpp
BasedOnStyle: WebKit
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: true
BreakBeforeBraces: Custom
SortIncludes: Never
NamespaceIndentation: None
BraceWrapping:
  AfterFunction: true
